/*todo lo que vaya aquí dentro es un comentario*/
/*
:root {
  --color-principal: aquamarine;
  --color-secundario: #ee82ee;
  --color-terciario: #aeff7f;
  --tipografia: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --tamaño-texto: 25px;
}

.caja1 {
  width: 100%;
  background-color: var(--color-principal);
  font-size: var(--tamaño-texto);
}

.caja2 {
  width: 100%;
  background-color: var(--color-secundario);
}

.caja3 {
  width: 100%;
  background-color: var(--color-terciario);
}

h1 {
  font-family: var(--tipografia);
}

p {
  background-color: orange;
}

.section {
  color: whitesmoke;
  background-color: rgb(243, 90, 179);
}

section {
  background-color: rgb(40, 77, 238);
}
*/



.titulo {
  /*margin: 50px;
  margin-left: 500px;*/
}


.section {
  /*margin: 50px;*/
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 30px;
  /*margin: 50px 30px 40px 50px;*/
  border: 5px solid black;
}

.caja3 {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 30px;
  border: 5px solid black;
  width: 200px;
}

.caja1 {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 30px;
  border: 5px solid pink;
  width: 200px;
  /*float: left;*/
}

.caja4 {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 30px;
  border: 5px solid black;
  width: 200px;
}

.caja2 {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 30px;
  border: 5px solid pink;
  width: 200px;
  /*float: inherit;
}
*/

/** {
  box-sizing: border-box;
}*/

/*
section {
  display: inline-block;
}*/

/*
h2 {
  display: inline-block;
}

p {
  display: inline-block;
}*/

/*probando el display inline block*/

/*.caja5 {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 30px;
  border: 5px solid #0ace4c;
  width: 200px;
}

.caja6 {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 30px;
  border: 5px solid #0ace4c;
  width: 200px;
}
  */

h2 {
  display: inline-block;
}

p {
  display: inline-block;
}
